/*--------------------------- skeleton --------------------------*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    color: var(--body-font-color);
    font-family: var(--primary-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    letter-spacing: 0em;
    margin: 0;
    overflow-x: hidden;
}

img {
    width: auto;
}

a {
    color: #1814;
    text-decoration: none;
    outline: none;
    @include transition(all .3s ease-in-out);
    &:hover {
        color: var(--primary-color);
    }
}

p {
    margin: 15px 0;
    &:first-child {
        margin-top: 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--secondary-font);
    margin: 0 0 15px;
}

h1 {
    font-size: 58px;
    font-weight: 800;
    line-height: 1.13;
    letter-spacing: 0em;
    @include media(xs) {
        font-size: 46px;
    }
}

h2 {
    font-size: 50px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: 0em;
    @include media(xs) {
        font-size: 36px;
    }
}

h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 1.3;
    letter-spacing: 0em;
    @include media(xs) {
        font-size: 26px;
    }
}

h4 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.375;
    letter-spacing: 0em;
    @include media(xs) {
        font-size: 22px;
    }
}

h5 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: 0em;
}

h6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.375;
    letter-spacing: 0em;
}

.sub-heading {
    color: var(--sub-heading-color);
}

.container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.container-fluid {
    max-width: 1300px;
    padding: 0 15px;
    width: 100%;
    margin: 0 auto;
}

.col-3 {
    @include grid;
    @include grid-columns(repeat(3, 1fr));
    @include media(xs) {
        @include grid-columns(repeat(1, 1fr));
    }
}

.btn-primary {
    display: inline-block;
    background: var(--primary-color);
    color: #ffffff;
    border-radius: 10px;
    padding: 18px 35px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    &:hover {
        background: var(--secondary-color);
        color: #ffffff;
        @include transform(translateY(-8px));
    }
    @include media(mb) {
        width: 100%;
    }
}

.btn-secondary {
    display: inline-block;
    background: var(--secondary-color);
    color: #ffffff;
    border-radius: 10px;
    padding: 18px 35px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    &:hover {
        background: var(--primary-color);
        color: #ffffff;
        @include transform(translateY(-8px));
    }
    @include media(mb) {
        width: 100%;
    }
}

[data-aos][data-aos][data-aos-duration="400"],
body[data-aos-duration="400"] [data-aos] {
    transition-duration: 800ms;
}

@include keyframes(fly) {
    0% {
        right: 0;
        transform: scaleX(50%) scaleY(50%);
    }
    100% {
        right: 10px;
    }
}