:root {
    --primary-color: #4F46BA;
    --secondary-color: #FF7F5C;
    --heading-color: #000000;
    --sub-heading-color: #3734A9;
    --body-font-color: #757095;
    --border-color: #E9E9E9;
    --off-bg-color: #F9F9F9;
    --primary-font: 'Accord Alternate';
    --secondary-font: 'Manrope';
}